
#box{
	margin-top: 5%;
	margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
    background: url(http://www.apple.com/music-memos/images/og_image.jpg?201602041430);
    background-size:80%;
}
#piece:hover,#what:hover,#wild:hover,#break:hover,#two:hover,#december:hover{
	text-decoration: underline;
	cursor: pointer;
	
}

#piece,#what,#break, #two, #december,#wild,#audioname{
	color: #999999;
}

h1, h3{
	font-family: AR DESTINE;
	color:  #999999;
}
ul{
	 list-style-type:none;
	 font-family: AR DESTINE;
	 color: #999999;
}


body{
	background-image: url(http://wallpapercave.com/wp/AJeLlCi.gif);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 1000px;
	text-align: center;
	margin-top: 5%;
}


#trak{
	color: #999999;
}


